#selected
{
float:right;
}
#message {
  border-bottom: solid green 1pt;
  border-top: solid green 1pt;
  padding; 2pt;
  font-size: smaller;
  font-style:italic;
}

td#elements{
    font-size:90%;
    margin:5%;
    background-color:#EEE;
    padding:2%;
    border:1px dotted black;
}
td#attributes{
    font-size:90%;
    margin:5%;
    padding:2%;
}
td{
    vertical-align:top;
}
tr.choice >td {
    padding: 12pt;
    border-bottom: solid blue 2pt;
}
h2{
    color:#900;
}
.modulelink,
.elementlink,
.attributelink{
    border:none;
    color:blue;
    cursor:pointer;
}
td.unselected {
    color: red;
}

#tabs {
	background: transparent;
	border: none;
}
#tabs .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs .ui-state-default {
	background: transparent;
	border: none;
}
#tabs .ui-state-active {
	background: transparent url(images/uiTabsArrow.png) no-repeat bottom center;
	border: none;
}
#tabs .ui-state-default a {
	color: #c0c0c0;
}
#tabs .ui-state-active a {
	color: #459E00;
}